* {
    box-sizing: border-box;
}

:root {
    --font-family: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 999px;
    background: #4b4638;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-weight: 700;
    font-family: var(--font-family);
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

/* Header */
.header {
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .nav {
    margin-left: auto;
}

.header .list {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active {
    position: relative;
}

.nav li.active::after {
    position: absolute;
    display: block;
    left: 21px;
    bottom: -5px;
    width: 12px;
    height: 2px;
    content: "";
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero  */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.media-block .image-hero {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    /* min-height: 244px; */
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero-summary .desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .cta-btn {
    min-width: 180px;
    background: var(--primary-color);
    font-size: 1.8rem;
    line-height: 64px;
}

.content-block .play-video {
    display: flex;
    align-items: center;
    border: none;
    background: #fffcf4;
    margin-left: 28px;
    cursor: pointer;
}

.content-block .play-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.content-block .play-video span {
    margin-left: 14px;
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.66;
}

.content-block .stats {
    margin: 8px 0 0 -28px;
}

.content-block .stats strong {
    padding: 0 12px 0 28px;
    color: #171100;
    font-family: var(--font-family);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

/* Popular */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.popular-top .control {
    display: flex;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid rgba(255, 185, 0, 1);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular-top .control-btn + .control-btn {
    margin-left: 14px;
}
